<app-header></app-header>
<br>
<article class="special">
    <div class="row text-center">
        <article class="col">
            <img src="../../assets/images/cat1.jpg" class="rounded " alt="Cinque Terre" width="400" height="500">
            <br>
            <br>
            <header>
                <h3>เคยสงสัยมั้ยคะ? ที่เลี้ยงอยู่แมวหรือหมู!! ^^</h3>
            </header>
        </article>
    </div>
    <hr/>
</article>

<div class="container mt-3">
    <div class="media border p-3">
      <img src="../../assets/images/cat1.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
      <div class="media-body">
        <h4>John Doe <small><i>16.00 4/12/2543</i></small></h4>
        <p>น่ารักดีครับ</p>
        <p>#แมวมิวซ์ #แมวหาบ้าน #แมวโง่ของพี่แมน  #แมวเป็นสัตว์ปัญญาอ่อน #แคปชั่นแมว #แมวเป็นสัตว์ที่คิดจะครองโลก</p>
      </div>
    </div>
    <hr>
    <div class="media border p-3">
        <img src="../../assets/images/cat3.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>John Doe <small><i>16.00 4/12/2543</i></small></h4>
            <p>น่ารักดีครับ</p>
            <p>#แมวมิวซ์ #แมวหาบ้าน #แมวโง่ของพี่แมน  #แมวเป็นสัตว์ปัญญาอ่อน #แคปชั่นแมว #แมวเป็นสัตว์ที่คิดจะครองโลก</p>
        </div>
      </div>
      <hr>
      <div class="media border p-3">
        <img src="../../assets/images/cat4.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>John Doe <small><i>16.00 4/12/2543</i></small></h4>
            <p>น่ารักดีครับ</p>
            <p>#แมวมิวซ์ #แมวหาบ้าน #แมวโง่ของพี่แมน  #แมวเป็นสัตว์ปัญญาอ่อน #แคปชั่นแมว #แมวเป็นสัตว์ที่คิดจะครองโลก</p>
        </div>
      </div>
      <hr>
      <!-- <div class="media border p-3">
        <img src="../../assets/images/cat5.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>John Doe <small><i>16.00 4/12/2543</i></small></h4>
            <p>น่ารักดีครับ</p>
            <p>#แมวมิวซ์ #แมวหาบ้าน #แมวโง่ของพี่แมน  #แมวเป็นสัตว์ปัญญาอ่อน #แคปชั่นแมว #แมวเป็นสัตว์ที่คิดจะครองโลก</p>
        </div>
      </div>
      <hr> -->
      
    <br>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Comment">
      <div class="input-group-append">
        <button class="btn btn-success" type="submit"><fa-icon [icon] = "send"></fa-icon></button>  
       </div>
    </div>
  </div>
  <app-footer></app-footer>
