<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form validate-form">

                <div style="text-align: center;">
                    <img src={{src1}} class="rounded-circle" width="250px" height="250px" >
                </div>

                <span class="login100-form-title p-b-34 p-t-27">
                    <input type="file" #imageInput (change)="getFile(imageInput)">
                </span>
                    
                <div class="wrap-input100 validate-input"  >
                    <input class="input100" type="text" name="" id="" placeholder="first name" [(ngModel)]="first_name">
                </div>

                <div class="wrap-input100 validate-input"  >
                    <input class="input100" type="text" name="" id="" placeholder="last name" [(ngModel)]="last_name">
                </div>

                <div class="wrap-input100 validate-input"  >
                    <input class="input100" type="email" name="" id="" placeholder="email" [(ngModel)]="email">
                </div>

                <div class="wrap-input100 validate-input" >
                    <input class="input100" type="password" name="" id="" placeholder="Password" [(ngModel)]="password">
                </div>
                
                <div class="wrap-input100 validate-input"  >
                    <input class="input100" type="text" name="" id="" placeholder="tell" [(ngModel)]="tel_phone">
                </div>

                <div class="wrap-input100 validate-input"  >
                    <input class="input100" type="text" name="" id="" placeholder="address" [(ngModel)]="address">
                </div>

                <div class="wrap-input100 validate-input"  >
                    <input class="input100" type="date" name="" id="" placeholder="birthday" [(ngModel)]="birthday">
                </div>

             
                <ngx-recaptcha2 #captchaElem
                    [siteKey]="siteKey">
                </ngx-recaptcha2>
<br>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="register()">
                        Register
                     </button>
                </div>
            </div>
        </div>
    </div>
</div>
