<app-header></app-header>
<div class="wrapper style1">

    <div class="container">
        <div class="row gtr-200">
            <div class="col-8 col-12-mobile" id="content">
                <article id="main">
                    <header>
                        <h2><a href="#">Viral TAG</a></h2>
                        <p>
                            นี่เราเลี้ยงแมวหรือหมูกันแน่น๊า >.<
                        </p>
                    </header>
                    <a href="#" class="image featured"><img src="../../assets/images/cat7.jpg" alt="" /></a>
                    <section>
                        <header>
                            <h3>Catilike รู้จริงเรื่องน้องแมว</h3>
                        </header>
                        <p>
                            เตรียมตัวยังไงดีนะ? สำหรับทาสแมวมือใหม่ที่กำลังตัดสินใจรับน้องแมวตัวแรกมาเลี้ยง เราตามมาดูกันเลยจ้า #catilike #รู้จริงเรื่องน้องแมว
                            😺 ศึกษาข้อมูลสายพันธุ์เหมียว
                            หลังจากที่เลือกได้แล้วว่าอยากเลี้ยงเหมียวพันธุ์อะไร ควรหาข้อมูลเกี่ยวกับน้องว่ามีนิสัยเป็นยังไง มีความต้องการอะไรเป็นพิเศษหรือไม่ รวมถึงเช็กข้อมูลของแหล่งที่มาของน้องแมวด้วยนะ
                            😺 เตรียมอุปกรณ์ที่จำเป็น
                            อย่าลืมเตรียมอุปกรณ์ที่จำเป็นให้พร้อม ไม่ว่าจะเป็นชามอาหาร ชามน้ำ อาหาร ของเล่น และอุปกรณ์กรูมมิ่งต่างๆ 
                            😺 เตรียมพื้นที่ในบ้าน
                            ก่อนพาน้องแมวเข้าบ้าน ควรหาห้องหรือมุมเงียบๆ เป็นส่วนตัว เพื่อให้เค้าใช้เป็นมุมซ่อนตัวเวลารู้สึกไม่มั่นใจ หรือไม่ปลอดภัย และเพื่อให้เค้าได้ใช้เวลาปรับตัวให้คุ้นชินเข้ากับบ้านหลังใหม่
                            😺 แบ่งเวลาตัวเองให้ดี
                            จะเลี้ยงน้องแมวก็ต้องมีเวลามาดูแลพวกเค้านะคะ อย่าลืมแบ่งเวลามาเล่น มาแปรงขน หรือลูบตัวพวกเค้าบ้างนะคะ
                            😺 คำนวณรายรับรายจ่าย
                            เป็นอีกเรื่องที่สำคัญเลย! เราควรคำนวณรายรับรายจ่ายตัวเองให้ดี เพราะการเลี้ยงน้องแมวมีค่าใช้จ่ายไม่น้อยเลย ทั้งค่าอาหาร อุปกรณ์ รวมไปถึงค่ารักษาพยาบาลต่างๆ อีกมากมาย.
                        </p>
                    </section>
                </article>
            </div>
            <div class="col-4 col-12-mobile" id="sidebar">
                <hr class="first" />
                <section>
                    <header>
                        <h2>Top 5 Viral TAG</h2>
                    </header>
                    <p>
                        เป็นโพสต์ที่ได้รับความนิยมสูงในช่วงนี้
                    </p>
                    <div class="row gtr-50">
                        <div class="col-4">
                            <a href="#" class="image fit"><img src="../../assets/images/cat3.jpg" alt="" /></a>
                        </div>
                        <div class="col-8">
                            <h3>เจ้าแมวน้อย</h3>
                            <p>
                                อายุได้สี่เดือน หาคู่ให้น้องครับตอนนี้น้องเหงามาก.
                            </p>
                        </div>
                        <div class="col-4">
                            <a href="#" class="image fit"><img src="../../assets/images/cat3.jpg" alt="" /></a>
                        </div>
                        <div class="col-8">
                            <h3>แมวเสี่ยโอ</h3>
                            <p>
                                ไม่ใช่แมวของคนที่ โอ นะครับแมวชื่อเสี่ยโอ +.+
                            </p>
                        </div>
                        <div class="col-4">
                            <a href="#" class="image fit"><img src="../../assets/images/cat3.jpg" alt="" /></a>
                        </div>
                        <div class="col-8">
                            <h3>รุ่นที่ 10</h3>
                            <p>
                                เป็นแมวชุดที่ 10 แล้วครับของคอกนี้ ใครสนใจรับน้องไปเลี้ยงบ้างครับ.
                            </p>
                        </div>
                        <div class="col-4">
                            <a href="#" class="image fit"><img src="../../assets/images/cat3.jpg" alt="" /></a>
                        </div>
                        <div class="col-8">
                            <h3>แมวเสี่ยโอ</h3>
                            <p>
                                ไม่ใช่แมวของคนที่ โอ นะครับแมวชื่อเสี่ยโอ +.+
                            </p>
                        </div>
                        <div class="col-4">
                            <a href="#" class="image fit"><img src="../../assets/images/cat3.jpg" alt="" /></a>
                        </div>
                        <div class="col-8">
                            <h3>แมวเสี่ยโอ</h3>
                            <p>
                                ไม่ใช่แมวของคนที่ โอ นะครับแมวชื่อเสี่ยโอ +.+
                            </p>
                        </div>
                        <div class="col-4">
                            <a href="#" class="image fit"><img src="../../assets/images/cat3.jpg" alt="" /></a>
                        </div>
                        <div class="col-8">
                            <h3>แมวเสี่ยโอ</h3>
                            <p>
                                ไม่ใช่แมวของคนที่ โอ นะครับแมวชื่อเสี่ยโอ +.+
                            </p>
                        </div>
                    </div>
                    <footer>
                        <a href="#" class="button">Refresh</a>
                    </footer>
                </section>
            </div>
        </div>
        <hr />
    </div>

</div>
<app-footer></app-footer>
