<div id="footer">
    <div class="container">
        <div class="row">
        </div>
        <hr />
        <div class="row">
            <div class="col-12">

                <!-- Contact -->
                <section class="contact">
                    <header>
                        <h3>ติดต่อสอบถาม</h3>
                    </header>
                    <p>ชื่อทางการติดต่อสื่อสาร</p>
                    <ul class="icons">
                        <li><a href=""><fa-icon [icon] = "face"><span class="label">Twitter</span></fa-icon></a></li>
                        <li><a href=""><fa-icon [icon] = "ig"><span class="label">Twitter</span></fa-icon></a></li>
                        <li><a href=""><fa-icon [icon] = "tw"><span class="label">Twitter</span></fa-icon></a></li>
                        <li><a href=""><fa-icon [icon] = "p"><span class="label">Twitter</span></fa-icon></a></li>
                    </ul>
                </section>
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="#">HTML5 UP</a></li>
                        </ul>
                    </div>

            </div>

        </div>
    </div>
</div>