<app-header></app-header>
<div class="row py-5 px-4">
    <div class="col-md-10 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3"><img [src]="src1"  id="Profile" alt="..." width="300" class="rounded mb-2 img-thumbnail">
                        <input type="file" #imageInput (change)="getFile(imageInput)" class="btn btn-outline-dark btn-sm btn-block" >
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{fname}} {{lname}}</h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{{address}}</p>
                    </div>
                </div>
            </div>
            <br><br><br>
            <hr>
            <div class="px-4 py-3">
               <input type="text" class="form-control" id="fname" placeholder="Enter first Name" value={{fname}} [(ngModel)]="first_name">
               <hr>
               <input type="text" id="lname" class="form-control" placeholder="Enter last Name" value={{lname}} [(ngModel)]="last_name">
               <hr>
               <input type="text" id="tel" class="form-control" placeholder="Enter Phone Number" value={{tel}} [(ngModel)]="tel_phone">
               <hr>
               <input type="text" id="address" class="form-control" placeholder="Enter address" value={{address1}} [(ngModel)]="address">
               <hr>
               <input type="date" id="Bday" class="form-control" placeholder="Enter Brith day" [(ngModel)]="birthday">
               <hr>
               <input type="password" id="pass" class="form-control" placeholder="Enter password" [(ngModel)]="password">
               <hr>
               <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>