<body class="homepage is-preload">
    <div id="page-wrapper">
            <div id="header">
                    <div class="inner">
                        <header>
                            <h1><a href="homepage.component.html" id="logo">#HashTAG</a></h1>
                            <hr />
                            <p>looking for people seem like something</p>
                        </header>
                    </div>
                    <nav id="nav">
                        <ul>
                            <li><a routerLink = "/Homepage">หน้าหลัก</a></li>
                            <li><a routerLink = "/Tag">สร้าง TAG</a></li>
                            <li><a routerLink = "/Profile">Profile</a></li>
                            <li (click)="Logout()"><a href="">Logout</a></li>
                        </ul>
                    </nav>

            </div>
    </div>
</body>
