<body class="homepage is-preload">
    <div id="page-wrapper">
            <div id="header">
                    <div class="inner">
                        <header>
                            <h1><a href="homepage.component.html" id="logo">#HashTAG</a></h1>
                            <hr />
                            <p>looking for people seem like something</p>
                        </header>
                    </div>
                    <nav id="nav">
                        <ul>
                            <li><a routerLink = "/Homepage">Home</a></li>
                            <li>
                                <a href="#">TAG</a> 
                                <!-- <ul>
                                    <li><a href="#">Music</a></li>
                                    <li><a href="#">Movie</a></li>
                                    <li><a href="#">Adventure</a></li>
                                    <li>
                                        <a href="#">And a submenu &hellip;</a>
                                        <ul>
                                            <li><a href="#">Tag 1</a></li>
                                            <li><a href="#">Tag 2t</a></li>
                                            <li><a href="#">Tag 3</a></li>
                                            <li><a href="#">Tag 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Veroeros feugiat</a></li>
                                </ul> -->
                            </li>
                            <li><a routerLink = "/Viral">Viral TAG</a></li>
                            <li><a routerLink = "/Profile">Profile</a></li>
                            <li><a routerLink = "/Profile">Logout</a></li>
                        </ul>
                    </nav>

            </div>
    </div>
</body>
