<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form validate-form">
                <span class="login100-form-logo">
                    <fa-icon [icon] = "hasttag"></fa-icon>
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    #HashTag
                </span>
                    
                <div class="wrap-input100 validate-input"  >
                    <input class="input100" type="text" name="" id="" placeholder="E-mail" [(ngModel)]="email" required>
                </div>

                <div class="wrap-input100 validate-input" >
                    <input class="input100" type="password" name="" id="" placeholder="Password" [(ngModel)]="password" required>
                </div>
<br>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="login()">
                        Login
                     </button>
                </div>
                <div class="text-center p-t-50">
                    <a class="txt1" routerLink = "/Register">
                       Create Account
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Warning !!" [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '20vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <h3>กรุณากรอกข้อมูลให้ครบถ้วน</h3>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayPosition=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>