<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form validate-form">
                <span class="login100-form-logo">
                    <fa-icon [icon] = "hasttag"></fa-icon>
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    #HashTag
                </span>
                    
                <div class="wrap-input100 validate-input"  >
                    <input class="input100" type="text" name="" id="" placeholder="Username" [(ngModel)]="username">
                </div>

                <div class="wrap-input100 validate-input" >
                    <input class="input100" type="password" name="" id="" placeholder="Password" [(ngModel)]="password">
                </div>
<br>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="login()" routerLink = "/Homepage">
                        Login
                     </button>
                </div>
                <div class="text-center p-t-50">
                    <a class="txt1" routerLink = "/Register">
                       Create Account
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
