<p-toolbar>
    <div class="p-toolbar-group-left">
        <img src = "../../assets/images/Hash.png" style="width: 50px; height: 50px;">
        <h1 style="margin-left: 20px; font-weight: 700; color: white;">HASHTAG</h1>
        <h2 style="margin-left: 20px; font-weight: 700; color: white;">Home</h2>
        <h2 style="margin-left: 20px; font-weight: 700; color: white;">Post</h2>
        <h2 style="margin-left: 20px; font-weight: 700; color: white;">Profile</h2>
    </div>
    
    <div class="p-toolbar-group-right" >
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" style="width: 500px;">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit" >Search</button>
            </div>
        </div>
        <button class="btn" style="background-color: crimson; color: white; margin-left: 20px; font-size: large;">Logout</button>
    </div>
</p-toolbar>
