<app-header></app-header>
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div id="page-wrapper">
            <div class="wrapper style1">
                <div class="container">
                    <article id="main" class="special">
                        <header class="text-center">
                            <h1>My Account</h1>
                        </header> 
                        <br>
                        <img src="../../assets/images/cat5.jpg" class="rounded-circle " alt="Cinque Terre" width="600" height="500"> 
                        <br><br>
                            <h2 class="text-center">
                                ข้อมูลส่วนตัว
                            </h2>
                        <br>
                        <section>
                            <header>
                                <h5>Username : Narathip15_TheNN</h5>
                            </header>
                            <header>
                                <h5>Name : Narathip Kumkuan</h5>
                            </header>
                            <header>
                                <h5>Birthday : 04/01/2543 </h5>
                            </header>
                            <header>
                                <h5>Age : 50000 </h5>
                            </header>
                            <header>
                                <h5>Email : 61011212099@msu.ac.th </h5>
                            </header>
                            <header>
                                <h5>Address : Mahasarakham City (MSU)</h5>
                            </header>
                        </section>
                        <button class="btn btn-warning"> <fa-icon [icon] = "pen"></fa-icon>Edit Profile</button>
                    </article>
                    <hr/>
                    <h2 class="text-center">
                        My Post Tag
                    </h2>
                    <br>
                <article class="special">
                    <div class="row">
                        <article class="col-4 col-12-mobile special">
                            <img src="../../assets/images/cat1.jpg" class="rounded " alt="Cinque Terre" width="600" height="750">
                            <br>
                            <br>
                            <header>
                                <h3>เคยสงสัยมั้ยคะ? ที่เลี้ยงอยู่แมวหรือหมู!! ^^</h3>
                            </header>
                        </article>
                    </div>
                    <button class="btn btn-warning"> <fa-icon [icon] = "pen"></fa-icon>  Edit Post</button>
                    <hr/>
                    <div class="row">
                        <div class="col text-left">
                            <button class="btn brorder-2 border-warning"><fa-icon [icon] = "like"></fa-icon> Like</button>
                        </div>
                        <div class="col text-center">
                            <button class="btn brorder-2 border-warning" routerLink = "/Comment"><fa-icon [icon] = "comment"></fa-icon> Comment</button>
                        </div>
                        <div class="col text-right">
                            <button class="btn brorder-2 border-warning"><fa-icon [icon] = "share"></fa-icon> share</button>
                        </div>
                      </div>
                </article>
                <hr/>
                <article class="special">
                    <div class="row">
                        <article class="col-4 col-12-mobile special">
                            <img src="../../assets/images/cat3.jpg" class="rounded " alt="Cinque Terre" width="600" height="500">
                            <br>
                            <br>
                            <header>
                                <h3>น่ารักมั้ยคะ? มีคัยสนใจรับเจ้าหมูไปเลี้ยงมั้ยคะ ^^</h3>
                            </header>
                        </article>
                    </div>
                    <button class="btn btn-warning"> <fa-icon [icon] = "pen"></fa-icon> Edit Post</button>
                    <hr/>
                    <div class="row">
                        <div class="col text-left">
                            <button class="btn brorder-2 border-warning"><fa-icon [icon] = "like"></fa-icon> Like</button>
                        </div>
                        <div class="col text-center">
                            <button class="btn brorder-2 border-warning" routerLink = "/Comment" ><fa-icon [icon] = "comment"></fa-icon> Comment</button>
                        </div>
                        <div class="col text-right">
                            <button class="btn brorder-2 border-warning"><fa-icon [icon] = "share"></fa-icon> share</button>
                        </div>
                      </div>
                </article>
                <hr/>
                <article class="special">
                    <div class="row">
                        <article class="col-4 col-12-mobile special">
                            <img src="../../assets/images/cat3.jpg" class="rounded " alt="Cinque Terre" width="600" height="500">
                            <br>
                            <br>
                            <header>
                                <h3>น่ารักมั้ยคะ? มีคัยสนใจรับเจ้าหมูไปเลี้ยงมั้ยคะ ^^</h3>
                            </header>
                        </article>
                    </div>
                    <button class="btn btn-warning"> <fa-icon [icon] = "pen"></fa-icon>Edit Post</button>
                    <hr/>
                    <div class="row">
                        <div class="col text-left">
                            <button class="btn brorder-2 border-warning"><fa-icon [icon] = "like"></fa-icon> Like</button>
                        </div>
                        <div class="col text-center">
                            <button class="btn brorder-2 border-warning"  routerLink = "/Comment"><fa-icon [icon] = "comment"></fa-icon> Comment</button>
                        </div>
                        <div class="col text-right">
                            <button class="btn brorder-2 border-warning"><fa-icon [icon] = "share"></fa-icon> share</button>
                        </div>
                      </div>
                </article>
                <hr/>
                <article class="special">
                    <div class="row">
                        <article class="col-4 col-12-mobile special">
                            <img src="../../assets/images/cat3.jpg" class="rounded " alt="Cinque Terre" width="600" height="500">
                            <br>
                            <br>
                            <header>
                                <h3>น่ารักมั้ยคะ? มีคัยสนใจรับเจ้าหมูไปเลี้ยงมั้ยคะ ^^</h3>
                            </header>
                        </article>
                    </div>
                    <button class="btn btn-warning"> <fa-icon [icon] = "pen"></fa-icon> Edit Post</button>
                    <hr/>
                    <div class="row">
                        <div class="col text-left">
                            <button class="btn brorder-2 border-warning"><fa-icon [icon] = "like"></fa-icon> Like</button>
                        </div>
                        <div class="col text-center">
                            <button class="btn brorder-2 border-warning"  routerLink = "/Comment"><fa-icon [icon] = "comment"></fa-icon> Comment</button>
                        </div>
                        <div class="col text-right">
                            <button class="btn brorder-2 border-warning"><fa-icon [icon] = "share"></fa-icon> share</button>
                        </div>
                      </div>
                </article>
                <hr/>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>