<app-header></app-header>
<body class="no-sidebar is-preload">
    <div id="page-wrapper">
        <div class="wrapper style1">
            <div class="container">
                <article id="main" class="special">
                    <header>
                        <h2><a href="#">My Account</a></h2>
                        <p>
                            profile รายละเอียด
                        </p>
                    </header>
                    <a href="#" class="image featured"><img src="../../assets/images/cat6.jpg" alt="" /></a>
                    <p>
                        ข้อมูล
                    </p>
                    <section>
                        <header>
                            <h3>หัวข้อ</h3>
                        </header>
                        <p>
                            ข้อมูลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลล
                        </p>
                        <p>
                            ข้อมูลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลล
                        </p>
                    </section>
                    
                </article>
                <hr />
                <div class="row">
                    <article class="col-4 col-12-mobile special">
                        <a href="#" class="image featured"><img src="../../images/cat1.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">TAG ที่ชอบ TAG CAT1</a></h3>
                        </header>
                        <p>
                            ข้อมูลของแท็กที่ชอบ หรือ สนใจ
                    </article>
                    
                </div>
            </div>
        </div>
        <div class="wrapper style1">
        
            <div class="container">
                <article id="main" class="special">
                    <header>
                        <h2><a href="#">My Account</a></h2>
                        <p>
                            profile รายละเอียด
                        </p>
                    </header>
                    <a href="#" class="image featured"><img src="images/cat6.jpg" alt="" /></a>
                    <p>
                        ข้อมูล
                    </p>
                    <section>
                        <header>
                            <h3>หัวข้อ</h3>
                        </header>
                        <p>
                            ข้อมูลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลล
                        </p>
                        <p>
                            ข้อมูลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลล
                        </p>
                    </section>
                    
                </article>
                <hr />
                <div class="row">
                    <article class="col-4 col-12-mobile special">
                        <a href="#" class="image featured"><img src="images/cat1.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">TAG ที่ชอบ TAG CAT1</a></h3>
                        </header>
                        <p>
                            ข้อมูลของแท็กที่ชอบ หรือ สนใจ
                    </article>
                </div>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>