<app-header></app-header>
<!-- <body class="no-sidebar is-preload">
    <div id="page-wrapper">
        <div class="wrapper style1">
            <div class="container">
                <article id="main" class="special">
                    <header>
                        <h1><a href="#">My Account</a></h1>
                        <p>
                            profile รายละเอียด
                        </p>
                    </header>
                    <a href="#" class="image featured"><img src="../../assets/images/cat6.jpg" alt="" /></a>
                    <p>
                        ข้อมูล
                    </p>
                    <section>
                        <header>
                            <h3>หัวข้อ</h3>
                        </header>
                        <p>
                            ข้อมูลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลล
                        </p>
                        <p>
                            ข้อมูลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลล
                        </p>
                    </section>
                    
                </article>
                <hr />
                <div class="row">
                    <article class="col-4 col-12-mobile special">
                        <a href="#" class="image featured"><img src="images/cat1.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">TAG ที่ชอบ TAG CAT1</a></h3>
                        </header>
                        <p>
                            ข้อมูลของแท็กที่ชอบ หรือ สนใจ
                    </article>
                    
                </div>
            </div>
        </div>
        <div class="wrapper style1">
        
            <div class="container">
                <article id="main" class="special">
                    <header>
                        <h2><a href="#">My Account</a></h2>
                        <p>
                            profile รายละเอียด
                        </p>
                    </header>
                    <a href="#" class="image featured"><img src="images/cat6.jpg" alt="" /></a>
                    <p>
                        ข้อมูล
                    </p>
                    <section>
                        <header>
                            <h3>หัวข้อ</h3>
                        </header>
                        <p>
                            ข้อมูลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลล
                        </p>
                        <p>
                            ข้อมูลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลลล
                        </p>
                    </section>
                    
                </article>
                <hr />
                <div class="row">
                    <article class="col-4 col-12-mobile special">
                        <a href="#" class="image featured"><img src="images/cat1.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">TAG ที่ชอบ TAG CAT1</a></h3>
                        </header>
                        <p>
                            ข้อมูลของแท็กที่ชอบ หรือ สนใจ
                    </article>
                </div>
            </div>
        </div>
    </div>
</body> -->
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div id="page-wrapper">
            <div class="wrapper style1">
                <div class="container">
                    <article id="main" class="special">
                        <header class="text-center">
                            <h1>My Account</h1>
                        </header> 
                        <br>
                        <img src="../../assets/images/cat5.jpg" class="rounded-circle " alt="Cinque Terre" width="600" height="500"> 
                        <br><br>
                            <h2 class="text-center">
                                ข้อมูลส่วนตัว
                            </h2>
                        <br>
                        <section>
                            <header>
                                <h5>Username : Narathip15_TheNN</h5>
                            </header>
                            <header>
                                <h5>Name : Narathip Kumkuan</h5>
                            </header>
                            <header>
                                <h5>Birthday : 04/01/2543 </h5>
                            </header>
                            <header>
                                <h5>Email : 61011212099@msu.ac.th </h5>
                            </header>
                            <header>
                                <h5>Address : Mahasarakham City (MSU)</h5>
                            </header>
                        </section>
                        <button class="btn btn-warning"> <fa-icon [icon] = "pen"></fa-icon>Edit Profile</button>
                    </article>
                    <hr/>
                    <h2 class="text-center">
                        My Post Tag
                    </h2>
                    <br>
                <article class="special">
                    <div class="row">
                        <article class="col-4 col-12-mobile special">
                            <img src="../../assets/images/cat1.jpg" class="rounded " alt="Cinque Terre" width="600" height="750">
                            <br>
                            <br>
                            <header>
                                <h3>เคยสงสัยมั้ยคะ? ที่เลี้ยงอยู่แมวหรือหมู!! ^^</h3>
                            </header>
                        </article>
                    </div>
                    <button class="btn btn-warning"> <fa-icon [icon] = "pen"></fa-icon>Edit Post</button>
                </article>
                <hr/>
                <article class="special">
                    <div class="row">
                        <article class="col-4 col-12-mobile special">
                            <img src="../../assets/images/cat3.jpg" class="rounded " alt="Cinque Terre" width="600" height="500">
                            <br>
                            <br>
                            <header>
                                <h3>น่ารักมั้ยคะ? มีคัยสนใจรับเจ้าหมูไปเลี้ยงมั้ยคะ ^^</h3>
                            </header>
                        </article>
                    </div>
                    <button class="btn btn-warning"> <fa-icon [icon] = "pen"></fa-icon>Edit Post</button>
                </article>
                <hr/>
                <article class="special">
                    <div class="row">
                        <article class="col-4 col-12-mobile special">
                            <img src="../../assets/images/cat3.jpg" class="rounded " alt="Cinque Terre" width="600" height="500">
                            <br>
                            <br>
                            <header>
                                <h3>น่ารักมั้ยคะ? มีคัยสนใจรับเจ้าหมูไปเลี้ยงมั้ยคะ ^^</h3>
                            </header>
                        </article>
                    </div>
                    <button class="btn btn-warning"> <fa-icon [icon] = "pen"></fa-icon>Edit Post</button>
                </article>
                <hr/>
                <article class="special">
                    <div class="row">
                        <article class="col-4 col-12-mobile special">
                            <img src="../../assets/images/cat3.jpg" class="rounded " alt="Cinque Terre" width="600" height="500">
                            <br>
                            <br>
                            <header>
                                <h3>น่ารักมั้ยคะ? มีคัยสนใจรับเจ้าหมูไปเลี้ยงมั้ยคะ ^^</h3>
                            </header>
                        </article>
                    </div>
                    <button class="btn btn-warning"> <fa-icon [icon] = "pen"></fa-icon>Edit Post</button>
                </article>
                <hr/>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>