<!DOCTYPE html>
<html lang="en">
<head>
  <title>Index</title>
</head>
<body>
    <div class="table-data">
<h2>Home Paget</h2>

</body>
</html>
<style> 
    table, td, th { 
     border: 1px solid #ddd; 
     text-align: left; 
    } 
    table { 
     border-collapse: collapse; 
     width: 50%; 
    } 
    .table-data{ 
     position: relative; 
     left:150px; 
     top:100px; 
    } 
    th, td { 
     padding: 15px; 
    } 
    </style>