<app-header></app-header>
<p-dialog header="Title" [(visible)]="display">
    Content
</p-dialog>
<button type="button" (click)="showDialog()" label="Show"></button>
            <div class="row" *ngFor = "let postall of this.post; let ip = index"><br>
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <div class="blog-comment bg-white shadow rounded overflow-hidden" style="margin-top: 25px; margin-bottom: 25px;">
                        <hr/>
                        <ul class="comments">
                        <li class="clearfix">
                        <div>
                            <p class="meta"><img [src]="convertimg(post[ip].user_img)" class="rounded-circle" alt="" style="width: 50px; height: 50px; margin-right:10px ;">Post: <a routerLink = "/Profile">{{post[ip].first_name}}  {{post[ip].last_name}} {{post[ip].post_time}}</a></p>
                            <div class="row">
                                <div class="col-md-3">
                                    
                                </div>
                                <div class="col-md-6 text-center  border">
                                    <img [src]="post[ip].path"  id="Post" width="400" height="400" style="margin-top: 10px; margin-bottom: 10px;">
                                </div>
                                <div class="col-md-3">
                                    
                                </div>
                            </div>
                            <div class="row" style="margin: 15px;">
                                <div class="col-md-12 border-top">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-4 text-center">
                                            <button class="btn brorder-2 border-warning"><fa-icon [icon] = "like"></fa-icon> Like</button>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            
                                            <!-- <button class="btn brorder-2 border-warning" ><fa-icon [icon] = "comment" (click)="showModalDialog()"></fa-icon> comment</button> -->
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <button class="btn brorder-2 border-warning"><fa-icon [icon] = "share"></fa-icon> Share</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            
<app-footer></app-footer>