<body class="homepage is-preload">
    <div id="page-wrapper">
            <section class="carousel">
                <div class="reel">

                    <article>
                        <a href="#" class="image featured"><img src="../../assets/images/cat1.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">Tag 1</a></h3>
                        </header>
                        <p>cat</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="../../assets/images/cat2.jpeg" alt="" /></a>
                        <header>
                            <h3><a href="#">Tag 2</a></h3>
                        </header>
                        <p>cat cat</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="../../assets/images/cat3.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">Tag 3</a></h3>
                        </header>
                        <p>cat cat cat</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="../../assets/images/cat4.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">Tag 4</a></h3>
                        </header>
                        <p>cat cat cat cat</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="../../assets/images/cat5.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">Tag 5</a></h3>
                        </header>
                        <p>cat cat cat cat cat </p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="../../assets/images/cat6.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">Tag 6</a></h3>
                        </header>
                        <p>cat cat cat cat cat cat</p>
                    </article>

            

                </div>
            </section>
            <div class="wrapper style2">

                <article id="main" class="container special">
                    <a href="#" class="image featured"><img src="../../assets/images/cat7.jpg" alt="" /></a>
                    <header>
                        <h2><a href="#">Super Cats</a></h2>
                        <p>
                            cat 
                        </p>
                    </header>
                    <footer>
                        <a href="profile.html" class="button">My TAG</a>
                    </footer>
                </article>

            </div>

        </div>

</body>